mat-grid-tile{
  border: 1px solid lightgray;
}
.home-page-p-image{
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.image-container{
  position: relative;
  height: 300px;

}
.product:hover{
  box-shadow: -1px 1px 16px 13px rgba(194,182,182,0.41);
  -webkit-box-shadow: -1px 1px 16px 13px rgba(194,182,182,0.41);
  -moz-box-shadow: -1px 1px 16px 13px rgba(194,182,182,0.41);
}
